  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/mislibros">BibliotecaT</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="MisLibros">
          <a class="nav-link" href="/mislibros">
            <i class="fa fa-user-circle " aria-hidden="true"></i>
            <span class="nav-link-text">Mi perfil</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="librosDisponibles">
          <a class="nav-link" href="librosDisponibles.html">
            <i class="fa fa-bookmark" aria-hidden="true"></i>
            <span class="nav-link-text">Libros disponibles</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Relatos">
          <a class="nav-link" href="/relatos">
            <i class="fa fa-book" aria-hidden="true"></i>
            <span class="nav-link-text">Relatos de usuarios</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-itemt">
          <a class="nav-link text-right" href="quienesSomos.html">¿Quiénes somos?</a>
        </li  
        <li class="nav-item">
          <a class="nav-link" href="/logout">
            <i class="fa fa-fw fa-sign-out"></i>Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </nav>