<!DOCTYPE html>
<html lang="en">

<% include partials/head %>

<body class="inicio">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/mislibros">BibliotecaT</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-itemt">
          <a class="nav-link text-right" href="quienesSomos.html">¿Quiénes somos?</a>
        </li  
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-6 inicio-texto">
        <h1><i>¿Quieres leer y compartir libros e historias?</i></h1>
        <h3>Bibliotecate es una comunidad en donde puedes encontrar libros gratis y compartir relatos</h3>
      </div>
      <div class="col-6 card-inicio">    
        <div class="card card-login mx-auto mt-5 ">
          <div class="card-header">
              <h1 class="text-center">
              <span class="fa fa-sign-in"></span> Regístrate
            </h1>
          </div>
          <div class="card-body">
            
            <% if(message.length >0) { %>
              <div class="alert alert-danger">
                <%= message %>
              </div>  
            <% } %>  
              
            <form action="/register" method="post">
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input class="form-control" name="email" type="email" aria-describedby="emailHelp" placeholder="email@example.com" required>
                  </div>
                  <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input class="form-control" name="password" type="password" required>
                  </div>
                  <input type="submit" class="btn btn-primary btn-block">
            </form>
            <hr>
            <div class="text-center">
              <p>¿Ya tienes cuenta?<a href="/"> Inicia sesión</a></p>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
