.img-profile {
      height: 10%;
}      
     
.card {
      width: 60%;

}        

.img-editprofile{
       width: 40%;
       height: 40%;
       margin-right: 10%;
}
.img-editprofile2{
       width: 38%;
       height: 38%;
       margin-right: 10%;
}

.lavel{
      margin-left: 21%;
      margin-bottom: 10%;
}

.card-relatos{
    width: 100%;
}

.botones{
    margin-left: 38%;
}